use('../../node_modules/stylobuild')

rem = 10px
$init_islands_root = true
@require "../../node_modules/stylobate-islands/lib/standalone"

html,
body
  margin: 0
  padding: 0

.page
  &-head
    skin: isle
    skin: h1

    text-align: center

    height: 7*$islands_s
    padding: 0 $islands_l
    line-height: @height
    margin: 0 0 $islands_l

  &-content
    skin: isle
    kind: content $islands_s $islands_l
    max-width: 42em
    margin: 0 auto $islands_l

    & p
      skin: para

    & > header > p
      skin: para2
      color: $islands_color_text_misc

    & > header,
    & > h2,
    & > h3,
    & > h4,
    & > h5
      & + p > img
        float: right
        padding: 0 0 0.5em 1em

    & h1
      skin: h2

    & h2
      skin: h3

    & h3
      skin: h4

      & > a > img
        margin-right: 4px

    & h4
      skin: h5

    & code
      font: 93.33%/1.5em Consolas, Monaco, monospace

    & pre
      font: 1em/1 serif

      & code
        display: block

        padding:0 3px
        border:1px solid rgba(0,0,0,.2)

        background:rgba(164,164,164,.2)

    & a > sup
      font: 11px/1 Verdana,sans-serif
      margin: 0 0 0 3px

a
  skin: link
