include mixins

+b('html')
  +page-head
  +page-body
    +b.page
      +e('h1').head
        a(href='../') Архив клуба по разработке интерфейсов
      +e.content
        header
          h1= document.title
          p
            = "Опубликовано " + document.date + ". "
            if document.author
              = "Автор: " + document.author + "."

        != content
