include ../../node_modules/bemto.jade/bemto
- bemto_settings_element = '-'

mixin page-body()
  body
    block
    != '<!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter8530063 = new Ya.Metrika({id:8530063, enableAll: true}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/8530063" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->'

mixin page-head()
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=EmulateIE7,IE=edge")
    meta(name="viewport", content="width=device-width")

    //- Including docpad's stuff
    != getBlock("meta").toHTML()
    != getBlock('scripts').toHTML()
    != getBlock("styles").toHTML()
    if getEnvironment() == 'development'
        != getBlock("styles").add(["/style.css"]).toHTML()
    else
        != getBlock("styles").add(["/blog/style.css"]).toHTML()

    block

